.SuccessCont {
    display: flex;
    flex-direction: column;
    line-height: 38px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    color:black;
}

.decodeLink{
    text-decoration:none;
    color:rgb(20, 63, 235);
}

.decodeLink:hover{
   cursor:pointer;
     text-decoration: underline;
}

.sucessDiv{
    /* Background-color:gray; */
    border:2px solid red;
    display:flex;
    justify-content:center;
    align-items:center;
}
.decodeLink{
    background-color:blue;
    color:white;
    width:120px;
    height:23px;
    padding:9px;
}